.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #1b418b;
}

.App-link {
  color: #09d3ac;
}

.App-currentUser {
  text-align: right;
  font-size: 10px;
  color: darkblue;
}

ul {
  text-align: center;
  list-style-position: inside;
}

.App-log {
  font-size: 10px;
  background: lightyellow;
  text-align: left;
}